
.abt h1{
    margin-bottom: 20px;
   display: flex;
   position: relative;
   justify-content: center;
   border: 2px solid green;
    /* border-top: solid green;
    border-bottom: solid green; */
    
}

.abt p{
    font-size: 21px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}


