
  .body-container{
    display: flex;
    margin: 8px;
    background-color: #1B2A3B;
    /* background-color: white; */
    border-radius: 10px;
    height: 84%;
    width: 99%;
    padding: 15px 5px;
  
  }
  .side-nav-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 22%;
    height: 100%;
    /* border: 1px solid red; */
    padding-left: 0;
    overflow: hidden;
    overflow-y: scroll;
  }
  .list-item{
    
    width: 90%;
    padding: 15px;
    color: white;
    font-weight: 700;
    /* margin: auto; */
    list-style: none;
    background-color: #223449;
    border-radius: 5px;
    margin: 10px 0px;
    
  }
  .list-item:hover{
    background-color: #182533;
  }
  
  .side-nav-container::-webkit-scrollbar {
    display: none;
  }

  .test{
    border: 1px solid red;
    width: 75%;
    background-color: white;
  }

  