body{
    background-color: rgb(59, 57, 57);
    background-image: url("rhel8.png");
    background-repeat:repeat;
}



.terminal_head{
    font-size: 18px;
    position: sticky;
    border:solid rgb(143, 180, 74) 0.5px;
    color: rgb(253, 246, 246);
    height: 40px;
    width: 100%;
    padding-top: 10px;
    text-align:center;
    background-color: rgb(41, 40, 38);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


.Terminal{
    border-radius: 15px;
    background-color: rgb(7, 0, 0);
    color: greenyellow;
    border:solid rgb(143, 180, 74) 0.5px;
    font-size: 24px;
    margin: auto;
    margin-top: 5%;
    /* height: 70vh;
    width: 97%;     */
    height: 50vh;
    width: 70vw;
    overflow: auto;
    resize: both;
}


#title_name{
    margin-top: 25px;
}

#dockerimg{
    width: 100%;
    height: 100%;
}


#terminal_block{
    padding-top: 30px;
    padding-left: 20px;
}

input{
    background-color: rgb(10, 0, 0);
    color: greenyellow;
    border-color: black;
    border-style: hidden;
    font-size: 24px;
    width: 40%;
    outline: none;
    
}




#d1{ 
    color: rgb(29, 221, 74);
    text-align: left;
    background-color: rgb(8, 8, 8);
    }
    



#in1::placeholder{
    background-color: black;
}

button{
    background-color: rgb(7, 0, 0);
    border:solid greenyellow 2px;
    color: greenyellow;
    font-size: 150%;
    border-radius: 15px;
    margin-left: 30px;
    margin-left: auto;
    height: 50px;
    width: 100px;
}
#button_div{
    margin-top: 20px;
    margin-left: 50%;
}


